:root {
  --color-bg-1:   #0d0d0e;
  --color-bg-2:   #151516;
  --color-fg-1:   #cfcfcf;
  --color-fg-2:   #a3a3a3;
  --color-accent: #72abcc;
  --font-mono: "Fira Mono", monospace;
  --font-sans: "Fira Sans", sans-serif;

  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-fg-1);
  background-color: var(--color-bg-1);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-mono);
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 100 auto;
  padding: 1rem;
}

#avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* border: 1px dashed red; */
}
#avatar img {
  max-width: 70px;
  border-radius: 50%;
}
#avatar h1 {
  color: var(--color-fg-1);
  line-height: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
#avatar a {
  color: inherit;
}
#avatar a:hover {
  text-decoration: inherit;
}

.navbar-links {
  max-height: auto;
  display: flex;
  padding: 0;
  margin: 30px 0;
  justify-content: center;
}
.navbar-links li {
  padding: 0 10px;
}
.navbar-links #current {
  color: var(--color-accent);
}

#content {
  text-align: left;
}
#content h1 {
  font-family: var(--font-sans);
  color: var(--color-accent);
  font-size: 2rem;
  margin-top: 30px;
}
#content h2 {
  line-height: 1rem;
  font-family: var(--font-sans);
  color: var(--color-fg-2);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
}
#content h3 {
  color: var(--color-fg-2);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
}
#content p {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  max-width: 700px;
}

#content pre {
  font-family: var(--font-mono);
  font-size: 1rem;
  line-height: normal;
  background-color: var(--color-bg-2);
  padding: 0 10px;
  border-radius: 10px; /* think about this */
}

#content-list {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.entry-name {
  color: var(--color-accent);
}

.entry-date {
  color: var(--color-fg-2);
}

.content-entry {
  font-size: 1rem;
  margin-bottom: 10px;
}
.content-entry a {
  text-decoration: none;
  color: var(--color-fg-1);
}
.content-entry a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

a {
  color: var(--color-fg-2);
  text-decoration: none;
}
a:hover, a:visited, a:active {
  text-decoration: underline;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.2s;
}
button:hover {
  border-color: var(--color-fg-1);
} */
