@font-face {
  font-family: "Fira Mono";
  src: url("/public/FiraMono-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Fira Mono", "Liberation Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(240, 240, 240);
  background-color: rgb(11, 11, 11);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* border: 1px dashed blue; */
nav {
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

#content {
  text-align: left;
}
#content p {
  font-family: "Liberation Sans", sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  max-width: 700px;
}

#article-list {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.date {
  color: rgb(170, 170, 170);
}

.article-entry {
  margin-bottom: 10px;
}
.article-entry a {
  text-decoration: none;
  color: rgb(240, 240, 240);
}
.article-entry a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

a {
  /* color: rgb(209, 178, 119); */
  color: rgb(170, 170, 170);
  text-decoration: none;
}
a:hover, a:visited, a:active {
  text-decoration: underline;
}

.navbar-links {
  /* border: 1px dashed green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-links li {
  padding-right: 20px;
}

#app {
  /* border: 1px dashed red; */
  max-width: 1280px;
  margin: 100 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.2s;
}
button:hover {
  border-color: rgb(240, 240, 240);
}
